<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.model.dao.ComponentMapper">
    <resultMap id="BaseResultMap" type="com.ys.model.pojo.Component">
        <id column="c_id" jdbcType="INTEGER" property="cId"/>
        <result column="c_name" jdbcType="VARCHAR" property="cName"/>
        <result column="c_code" jdbcType="VARCHAR" property="cCode"/>
        <result column="c_type" jdbcType="VARCHAR" property="cType"/>
        <result column="cf_name" jdbcType="VARCHAR" property="c_fName"/>
        <result column="ef_name" jdbcType="VARCHAR" property="e_fName"/>
        <result column="lifespan" jdbcType="VARCHAR" property="lifespan"/>
        <result column="starttime" jdbcType="TIMESTAMP" property="starttime"/>
        <result column="c_location" jdbcType="VARCHAR" property="cLocation"/>
        <result column="e_id" jdbcType="INTEGER" property="eId"/>
        <result column="f_id" jdbcType="INTEGER" property="fId"/>
        <result column="e_workshop" jdbcType="VARCHAR" property="eWorkshop"/>
        <result column="e_machine" jdbcType="VARCHAR" property="eMachine"/>
        <result column="e_name" jdbcType="VARCHAR" property="eName"/>
        <result column="e_type" jdbcType="VARCHAR" property="eType"/>
        <result column="e_code" jdbcType="VARCHAR" property="eCode"/>
        <result column="f_type" jdbcType="INTEGER" property="fType"/>
    </resultMap>
    <resultMap id="searchVo" type="com.ys.model.vo.SearchVo">
        <result column="eWorkshop" property="eWorkshop"/>
        <result column="eMachine" property="eMachine"/>
        <result column="eName" property="eName"/>
        <result column="cName" property="cName"/>
    </resultMap>

    <resultMap id="allCNameVo" type="com.ys.model.vo.SearchVo">
        <result column="cName" property="cName"/>
    </resultMap>
    <sql id="Base_Column_List">
    c_id, c_name, c_type,c_code, lifespan, starttime, e_id, f_id,c_location
  </sql>
    <sql id="Base_Column_List1">
    c_id, c_name, f_name,c_type,f_type,c_code, lifespan, starttime,  c.f_id,c_location,c.e_id,e_workshop, e_machine, e_name, e_type,e_code
  </sql>
    <sql id="Base_Column_List2">
    c_id, c_name, c.e_id,e.e_id,e_name,c_code
  </sql>
    <sql id="Base_Column_List3">
    c_id, c_name, c.e_id,e.e_id,e_name,c_code
  </sql>

    <!--allList-->
    <select id="allList" parameterType="com.ys.model.request.RepairSearchReq" resultType="com.ys.model.vo.ComponentVo">
        SELECT t1.e_id eId,t1.e_machine eMachine,t1.e_workshop eWorkshop,t1.e_type eType,t1.e_code eCode,t1.e_name eName,t1.f_name efName,
               t2.c_id cId,t2.c_name cName,t2.c_code cCode,t2.c_type cType,t2.f_name cFname,t2.lifespan lifespan,t2.starttime starttime,t2.c_location cLocation
        from
           (SELECT e_workshop,e_machine,e_name,e_code,e_type,e_id,f_name
              from ys_equipment LEFT JOIN ys_factory on ys_equipment.f_id = ys_factory.f_id) t1,
           (SELECT c_id,c_name,c_code,c_type,f_name,lifespan,starttime,c_location
                    from ys_component LEFT JOIN ys_factory on ys_component.f_id = ys_factory.f_id) t2
        WHERE
        t1.e_id = t2.c_id
        <if test="eWorkshop != null">
            and  e_workshop = #{eWorkshop}
        </if>
        <if test="eMachine != null">
            and e_machine = #{eMachine}
        </if>
        <if test="eName != null">
            and e_name = #{eName}
        </if>
        <if test="cName != null">
            and  c_name =#{cName}
        </if>
</select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ys_component
        where c_id = #{cId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ys_component
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ys.model.pojo.Component">
    insert into ys_component (c_id, c_name, c_code, c_type,c_location,
      lifespan, starttime, e_id, f_id)
    values (#{cId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cCode,jdbcType=VARCHAR}, #{cType,jdbcType=VARCHAR},#{cLocation,jdbcType=VARCHAR},
       #{lifespan,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP},
      #{eId,jdbcType=INTEGER}, #{fId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ys.model.pojo.Component">
        insert into ys_component
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cId != null">
                c_id,
            </if>
            <if test="cName != null">
                c_name,
            </if>
            <if test="cCode != null">
                c_code,
            </if>
            <if test="cType != null">
                c_type,
            </if>
            <if test="lifespan != null">
                lifespan,
            </if>
            <if test="starttime != null">
                starttime,
            </if>

            <if test="eId != null">
                e_id,
            </if>
            <if test="fId != null">
                f_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cId != null">
                #{cId,jdbcType=INTEGER},
            </if>
            <if test="cName != null">
                #{cName,jdbcType=VARCHAR},
            </if>
            <if test="cCode != null">
                #{cCode,jdbcType=VARCHAR},
            </if>
            <if test="cType != null">
                #{cType,jdbcType=VARCHAR},
            </if>
            <if test="lifespan != null">
                #{lifespan,jdbcType=VARCHAR},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=TIMESTAMP},
            </if>

            <if test="eId != null">
                #{eId,jdbcType=INTEGER},
            </if>
            <if test="fId != null">
                #{fId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ys.model.pojo.Component">
        update ys_component
        <set>
            <if test="cName != null">
                c_name = #{cName,jdbcType=VARCHAR},
            </if>
            <if test="cCode != null">
                c_code = #{cCode,jdbcType=VARCHAR},
            </if>
            <if test="cType != null">
                c_type = #{cType,jdbcType=VARCHAR},
            </if>
            <if test="lifespan != null">
                lifespan = #{lifespan,jdbcType=VARCHAR},
            </if>
            <if test="starttime != null">
                starttime = #{starttime,jdbcType=TIMESTAMP},
            </if>
            <if test="cLocation!= null">
                c_location = #{cLocation,jdbcType=VARCHAR},
            </if>
            <if test="eId != null">
                e_id = #{eId,jdbcType=INTEGER},
            </if>
            <if test="fId != null">
                f_id = #{fId,jdbcType=INTEGER},
            </if>
        </set>
        where c_id = #{cId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ys.model.pojo.Change">
    update ys_component
    set c_name = #{newCname,jdbcType=VARCHAR},
      c_code = #{newCcode,jdbcType=VARCHAR},
      c_type = #{newCtype,jdbcType=VARCHAR},
    where c_id = #{ccId,jdbcType=INTEGER}
  </update>
    <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ys_component
        where c_code = #{c_code,jdbcType=VARCHAR}
    </select>
    <insert id="insertComponent">
    insert into ys_component(c_name,c_code,c_type,c_location,lifespan,starttime,e_id,f_id)
    values(#{c_name},#{c_code},#{c_type},#{c_location},#{lifespan},#{starttime},#{e_id},#{f_id})
  </insert>
    <insert id="insertruntime">
    insert into ys_component(runtime)
    values(#{runtime})
  </insert>
    <update id="updateBySelective" parameterType="com.ys.model.pojo.Component">
        update ys_component
        <set>
            <if test="cName != null">
                c_name = #{cName,jdbcType=VARCHAR},
            </if>

            <if test="cLocation != null and cLocation !='' ">
                c_location = #{cLocation,jdbcType=VARCHAR},
            </if>

            <if test="cCode != null and cCode!='' ">
                c_code = #{cCode,jdbcType=VARCHAR},
            </if>
            <if test="cType != null and cType !=''  ">
                c_type = #{cType,jdbcType=VARCHAR},
            </if>
            <if test="lifespan != null and lifespan !=''">
                lifespan = #{lifespan,jdbcType=VARCHAR},
            </if>
            <if test="starttime != null">
                starttime = #{starttime,jdbcType=TIMESTAMP},
            </if>

            <if test="eId != null and eId !=''">
                e_id = #{eId,jdbcType=INTEGER},
            </if>
            <if test="fId != null and fId !=''">
                f_id = #{fId,jdbcType=INTEGER},
            </if>
        </set>
        where c_id = #{cId,jdbcType=INTEGER}
    </update>

    <!--**************************************-->

   <!-- <resultMap id="componentVo" type="com.ys.model.vo.ComponentVo">
        <association property="component" javaType="com.ys.model.pojo.Component">
            <result column="c_name" jdbcType="VARCHAR" property="cName"/>
            <result column="lifespan" jdbcType="VARCHAR" property="lifespan"/>
        </association>
        <association property="equipment" javaType="com.ys.model.pojo.Equipment">
            <result column="e_workshop" jdbcType="VARCHAR" property="eWorkshop"/>
            <result column="e_machine" jdbcType="VARCHAR" property="eMachine"/>
            <result column="e_name" jdbcType="VARCHAR" property="eName"/>
        </association>
        <association property="factory" javaType="com.ys.model.pojo.Factory">
            <result column="f_name" jdbcType="VARCHAR" property="fName"/>
        </association>

    </resultMap>-->
    <!--自定义********star-->

    <!--  <select id="allList" resultMap="BaseResultMap">
          select
          <include refid="Base_Column_List1"/>
          from ys_component c,ys_factory f,ys_equipment e
          where c.f_id = f.f_id and c.e_id = e.e_id
      </select>-->
    <!--searchList-->

    <!--delete-->
    <delete id="delete" parameterType="java.lang.String">
    delete from ys_component
    where c_code = #{cCode,jdbcType=VARCHAR}
  </delete>

<!--   设备零件查询下拉列表-->
    <select id="componentSearchList" resultMap="searchVo">
    SELECT e_workshop eWorkshop,e_machine eMachine,e_name eName,c_name cName
    FROM ys_component c,ys_equipment e
  </select>

<!--    根据零件cId，得到厂家fIdgetFidByCid-->

    <select id="getFidByCid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select f_id
        from ys_component
        where c_id = #{cId}
    </select>

    <!--查询所有的零件名-->
    <select id="allCName"  resultMap="allCNameVo">
        select c_name cName from ys_component
    </select>
    <!--自定义********end-->

    <!--二维码查询的数据-->
    <select id="qrCode" parameterType="java.lang.String" resultType="com.ys.model.pojo.Component">
        select t1.c_code cCode ,t1.c_name cName,t2.e_name eName
        from ys_equipment t2 left join  ys_component t1 on t1.e_id=t2.e_id
        where t2.e_code = #{eCode}
    </select>
</mapper>